<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>{{ page_title }}</title>

    <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf1NLqZXxUZsN8ta9i90SSGuXwXc_dV1EqZ4SPkgmo0FuWwAw">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ style }}">

</head>

<body>
    <header>
        <div class="pull-right">
            <img src="unc.png" class="img-rounded img-responsive" alt="UNC Bear" width="100">
        </div>
        <div>
            <h1>{{ site_title }}</h1>
            <h2>{{ page_title }}</h2>
        </div>
    </header>

    <main>

        {{ content }}

    </main>
</body>

</html>
